$nav_back: rgba(0, 0, 0, .25);
$hover_back: rgba(255, 214, 70, .25);
$btn_size: 33px;

%nav_btn {
    width: $btn_size;
    height: $btn_size;
    border-radius: $btn_size / 2;
    background-color: $nav_back;

    &:hover,
    &:active {
        background-color: $hover_back;
    }

    @media (min-width: 1440px) {
        width: $btn_size * 2;
        height: $btn_size * 2;
        border-radius: $btn_size;
    }
}
/* main navbar */
.navbar {
    @extend %flex_center;
    max-width: 90vw;
    margin: 29px auto;

    &__btn {

        &_open-menu {
            @extend %nav_btn;
            @extend %flex_center;

            img {
                width: auto;
                height: $btn_size / 3;
                @media (min-width: 1440px) {
                    height: $btn_size * 2 / 3;
                }
            }
        }
    }
}